.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  margin-top: 47px;
  margin-bottom: 67px;
  padding: 0;
  justify-content: center;
}

@media screen and (max-width: 589px) {
  .cards {
    margin: 0 auto 48px auto;
  }
}
